<!DOCTYPE html>
<html class='h-100' lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&display=swap" rel="stylesheet">    <title>Document</title>
    <style>
        body {
            
            background-color: rgb(250, 253, 255);
        }
        .logo {
            width: 100%;            
        }
        .title-framework {
            font-size: 2.2rem;
            /* text-transform: uppercase; */
            
        }
        .logos-technology {
            width: 100px;
            border-radius: 50%;
        }
    </style>
</head>
<body class='h-100'>
    <div class="container-fluid h-100">
        <div class='row'>
            <div class='col-12 d-flex flex-column'>
                <span class='title-framework'>QUAESTUM</span>
                <span style='margin-left: 10%'>Basic Structure Development</span>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-3">
                <img class='logo' src="./assets/image/logoQuae.svg">
            </div>
            <div class='col-8'>
                <div class='row'>
                    <div class="col-12">
                        <p>
                            Estrutura básica de desenvolvimento web utilizando PHP para processamentos de programas backend e Javascript para frontend
                        </p>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h2 class='mb-5'>Technologys </h2>
                        <div class='d-flex justify-content-between'>
                            <img class='logos-technology' src="./assets/image/slim.jpg" alt="">
                            <img class='logos-technology' src="./assets/image/twig.jpg" alt="">
                            <img class='logos-technology' src="./assets/image/bootstrap.png" alt="">
                            <img class='logos-technology' src="./assets/image/composer.jpg" alt="">
                            <img class='logos-technology' src="./assets/image/npm.jpg" alt="">
                            <img class='logos-technology' src="./assets/image/webpack.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>